body {
  background-color: rgb(32, 33, 33);
}

#contact-info {
  color: white;
  font-family: "Mukta";
}

#transparent-backdrop {
  padding-bottom: 100px;
}

#my-photo {
  float: left;
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
}

/* Medium screens and up */
@media only screen and (min-width: 776px) {
  #paper {
    height: 100%;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.3);
  }

  #contact-info {
    float: left;
  }

  #about {
    margin-top: 75px;
    margin-bottom: 75px;
    color: white;
    font-size: 20px;
    font-family: "Mukta";
    float: "left";
  }

  h1 {
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-family: "Mukta";
  }
}

/* Smaller screens */
@media only screen and (max-width: 776px) {
  #paper {
    text-align: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  #image-div {
    display: flex;
    justify-content: center;
  }

  h1 {
    color: white;
    font-family: "Mukta";
  }
}
